{% extends "layout.html" %}


{% block head %}

<table cellpadding="0" cellspacing="0" bgcolor="#e1e2e4" width="100%" align="center" class="table600" style="table-layout: fixed;">
        <tbody><tr>
            <td width="20"></td>
            <td>
                <table cellpadding="0" class="table320" cellspacing="0" bgcolor="#e1e2e4" width="600" align="center" style="margin:0 auto;padding-top:10px;">
                    <tbody><tr>
                        <td bgcolor="#e1e2e4" style="padding-top:10px;text-align:center;font-family:arial;line-height:12px;font-size:11px;color:#767676;"><a href="https://www.pitchmyjob.com/fr/annonces" alias="Voir le profil" style="color:#767676;text-decoration:none" target="_blank" title="Voir le profil"> Voir les nouvelles offres</a> </td>
                    </tr>
                </tbody></table>
            </td>
            <td width="20"></td>
        </tr>
    </tbody></table>

{% endblock %}

{% block content %}


<table cellpadding="0" cellspacing="0" bgcolor="#e1e2e4" width="100%" class="table320">
				<tbody><tr>
					<td>
						<table cellpadding="0" cellspacing="0" bgcolor="#4A494D" width="600" align="center" style="margin:0 auto;display:block;" class="table320">
							<tbody><tr>
								<td height="10" style="font-size: 10px; line-height: 10px;width:100%;"> </td>
							</tr>
							<tr>
								<td style="width:600px;display:block;" align="center">
									<table cellpadding="0" cellspacing="0" align="center">
										<tbody><tr>
											<td valign="middle">
												<center><a href="https://www.pitchmyjob.com/fr/annonces" title="Gérer votre alerte" alias="Gérer votre alerte " target="_blank" style="text-align:center;color:white;font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;text-decoration:none;margin:0 auto;display:block;font-size:16px;"><span style="font-weight:bold;">Votre alerte</span> d'offres d'emploi</a></center><a href="https://www.pitchmyjob.com/fr/annonces" title="Gérer votre alerte" alias="Gérer votre alerte " target="_blank" style="text-align:center;color:white;font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;text-decoration:none;margin:0 auto;display:block;font-size:16px;">
											</a></td>
										</tr>
									</tbody></table>
								</td>
							</tr>
							<tr>
								<td height="10" style="font-size: 10px; line-height: 10px;width:100%;"> </td>
							</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody></table>
			<table cellpadding="0" cellspacing="0" bgcolor="#e1e2e4" width="100%" align="center" class="table320" style="table-layout: fixed;">
				<tbody><tr>
					<td>
						<table cellpadding="0" class="table320" cellspacing="0" width="600" align="center" style="margin:0 auto;table-layout: fixed;" bgcolor="#ffffff">
							<tbody><tr>
								<td height="15" style="font-size: 15px; line-height: 15px;"></td>
							</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody></table>
			<table cellpadding="0" cellspacing="0" bgcolor="#e1e2e4" width="100%" align="center" class="table320" style="table-layout: fixed;">
				<tbody><tr>
					<td>
						<table cellpadding="0" class="table320" cellspacing="0" width="600" align="center" style="margin:0 auto;table-layout: fixed;" bgcolor="#ffffff">
							<tbody><tr>
								<td width="20"></td>
								<td align="center">
									<center>
										<a href="https://www.pitchmyjob.com/fr/annonces" title="Découvrir les nouvelles offres" style="color:#4b4b4d;text-decoration:none;font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;font-size:16px;text-align:center;" target="_blank" alias="Découvrir les nouvelles offres">
											<span style="color:#87868c;font-weight:bold;font-family: Arial,Helvetica Neue,Helvetica,sans-serif;"> {{ obj.total }} nouvelles offres </span> peuvent te correspondent </a><a>
										</a>
									</center>
								</td>
								<td width="20"></td>
							</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody></table>

			<table cellpadding="0" cellspacing="0" bgcolor="#e1e2e4" width="100%" align="center" class="table320" style="table-layout: fixed;">
				<tbody><tr>
					<td>
						<table cellpadding="0" class="table320" cellspacing="0" width="600" align="center" style="margin:0 auto;table-layout: fixed;" bgcolor="#ffffff">
							<tbody><tr>
								<td height="30" style="font-size: 30px; line-height: 30px;"></td>
							</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody></table>

            {% for job in obj.jobs %}

                <table cellpadding="0" cellspacing="0" bgcolor="#e1e2e4" width="100%" align="center" class="table320" style="table-layout: fixed;">
                    <tbody><tr>
                        <td>
                            <table cellpadding="0" class="table320" cellspacing="0" width="600" align="center" style="margin:0 auto;table-layout: fixed;" bgcolor="#ffffff">
                                <tbody><tr>
                                    <td width="30"></td>
                                    <td width="82" valign="middle">
                                        <a href="https://www.pitchmyjob.com/fr/annonce/{{ job._id }}" target="_blank" title="Voir l'offre" alias="Voir l'offre8" style="text-align:center;display:block;margin:0 auto;border:1px solid #d2dce5;">
                                            <img src="{{ job.image }}" alt="" style="display:block;margin:0 auto;padding:10px;" width="50">
                                        </a>
                                    </td>
                                    <td width="15"></td>
                                    <td valign="middle">
                                        <table cellpadding="0" cellspacing="0" style="table-layout: fixed;" bgcolor="#ffffff">
                                            <tbody><tr>
                                                <td>
                                                    <a href="https://www.pitchmyjob.com/fr/annonce/{{ job._id }}" target="_blank" title="Voir l'offre" alias="Voir l'offre8" style="text-decoration:none;color:#43a3d6;font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;font-size:16px;">
                                                        {{ job.title }}
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="3" style="font-size: 3px; line-height: 3px;"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="https://www.pitchmyjob.com/fr/annonce/{{ job._id }}" target="_blank" title="Voir l'offre" alias="Voir l'offre8" style="text-decoration:none;font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;color:#4b4b4d;font-size:14px;">
                                                        {{ job.company }}
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="5" style="font-size: 5px; line-height: 5px;"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="https://www.pitchmyjob.com/fr/annonce/{{ job._id }}" target="_blank" title="Voir l'offre" alias="Voir l'offre8" style="text-decoration:none;font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;color:#87868c;font-size:12px;">
                                                        {{ job.location.country }} {{ job.location.locality }}
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="5" style="font-size: 5px; line-height: 5px;"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table cellpadding="0" cellspacing="0" style="table-layout: fixed;" bgcolor="#ffffff">
                                                        <tbody><tr>



                                                            <td width="8"></td>
                                                            <td style="font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;font-size:12px;">

                                                            </td>
                                                        </tr>
                                                    </tbody></table>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                    <td valign="middle" align="right" width="6">
                                        <a href="https://www.pitchmyjob.com/fr/annonce/{{ job._id }}" target="_blank" title="" alias="Voir l'offre8">
                                            <img src="https://email-pitchmyjob.s3.amazonaws.com/images/career_chevron.png" width="6">
                                        </a>
                                    </td>
                                    <td width="30"></td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody></table>



                <table cellpadding="0" cellspacing="0" bgcolor="#e1e2e4" width="100%" align="center" class="table320" style="table-layout: fixed;">
                    <tbody><tr>
                        <td>
                            <table cellpadding="0" class="table320" cellspacing="0" width="600" align="center" style="margin:0 auto;table-layout: fixed;" bgcolor="#ffffff">
                                <tbody><tr>
                                    <td height="15" style="font-size: 15px; line-height: 15px;"></td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody></table>
                <table cellpadding="0" cellspacing="0" bgcolor="#e1e2e4" width="100%" align="center" class="table320" style="table-layout: fixed;">
                    <tbody><tr>
                        <td>
                            <table cellpadding="0" class="table320" cellspacing="0" width="600" align="center" style="margin:0 auto;table-layout: fixed;" bgcolor="#ffffff">
                                <tbody><tr>
                                    <td width="30"></td>
                                    <td height="1" style="font-size: 1px; line-height: 1px;background:#f3f3f3;" bgcolor="#f3f3f3"></td>
                                    <td width="30"></td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody></table>

                <table cellpadding="0" cellspacing="0" bgcolor="#e1e2e4" width="100%" align="center" class="table320" style="table-layout: fixed;">
                    <tbody><tr>
                        <td>
                            <table cellpadding="0" class="table320" cellspacing="0" width="600" align="center" style="margin:0 auto;table-layout: fixed;" bgcolor="#ffffff">
                                <tbody><tr>
                                    <td height="15" style="font-size: 15px; line-height: 15px;"></td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody></table>

            {% endfor %}


			<table cellpadding="0" cellspacing="0" bgcolor="#e1e2e4" width="100%" align="center" class="table320" style="table-layout: fixed;">
				<tbody><tr>
					<td>
						<table cellpadding="0" class="table320" cellspacing="0" bgcolor="#ffffff" width="600" align="center" style="margin:0 auto">
							<tbody><tr>
								<td width="30"> </td>
								<td style="text-align:center;">
									<table cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="table-layout: fixed;margin:0 auto;" align="center">
										<tbody><tr>
											<td bgcolor="#f07355" style="background:#f07355;height:28px;border-radius:20px;padding:0 30px;" height="28">
												<a href="https://www.pitchmyjob.com/fr/annonces" title="Voir les nouvelles offres d'emploi" alias="Voir les nouvelles offres d'emploi" target="_blank" style="text-decoration:none;color:#ffffff;font-weight:bold;font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;font-size:14px;" class="text-resp2">
													Voir les nouvelles offres d'emploi
												</a>
											</td>
										</tr>
									</tbody></table>
								</td>
								<td width="30"> </td>
							</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody></table>
			<table cellpadding="0" cellspacing="0" bgcolor="#e1e2e4" width="100%" align="center" class="table320" style="table-layout: fixed;">
				<tbody><tr>
					<td>
						<table cellpadding="0" class="table320" cellspacing="0" width="600" align="center" style="margin:0 auto;table-layout: fixed;" bgcolor="#ffffff">
							<tbody><tr>
								<td height="20" style="font-size: 20px; line-height: 20px;"></td>
							</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody></table>


			<table cellpadding="0" cellspacing="0" bgcolor="#e1e2e4" width="100%" align="center" class="table320" style="table-layout: fixed;">
				<tbody><tr>
					<td>
						<table cellpadding="0" class="table320" cellspacing="0" width="600" align="center" style="margin:0 auto;table-layout: fixed;" bgcolor="#ffffff">
							<tbody><tr>
								<td height="20" style="font-size: 20px; line-height: 20px;"></td>
							</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody></table>


			<table cellpadding="0" cellspacing="0" bgcolor="#e1e2e4" width="100%" align="center" class="table320" style="table-layout: fixed;">
				<tbody><tr>
					<td>
						<table cellpadding="0" class="table320" cellspacing="0" width="600" align="center" style="margin:0 auto;table-layout: fixed;" bgcolor="#e0e2e4">
							<tbody><tr>
								<td height="20" style="font-size: 20px; line-height: 20px;"></td>
							</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody></table>
			<table cellpadding="0" cellspacing="0" bgcolor="#e1e2e4" width="100%" align="center" class="table320" style="table-layout: fixed;">
				<tbody><tr>
					<td>
						<table cellpadding="0" class="table320" cellspacing="0" width="600" align="center" style="margin:0 auto;table-layout: fixed;" bgcolor="#e0e2e4">
							<tbody><tr>
								<td height="30" style="font-size: 30px; line-height: 30px;"></td>
							</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody></table>



{% endblock %}
