{% extends "layout.html" %}

{% block head%}

<table cellpadding="0" cellspacing="0" bgcolor="#e1e2e6" width="100%" align="center" style="">
<tr>
    <td bgcolor="#e1e2e6" style="text-align:center;font-family:arial;line-height:12px;font-size:11px;color:#9f9f9f">
        <br />
        <a alias="alias1" href="https://www.pitchmyjob.com/mycv" title="Confirmer ses comp&eacute;tences" style="text-decoration:none;color:#9f9f9f">Complète ton profil</a> <br /><br /></td>
</tr>
</table>

{% endblock %}

{% block content %}

<table cellpadding="0" cellspacing="0" bgcolor="#e1e2e6" width="100%" align="center" style="">
		<tr>
			<td style="text-align: center;" align="center">
				<table cellpadding="0" class="table320" cellspacing="0" bgcolor="#e1e2e6" width="598" align="center" style="margin:0 auto">

					<tr>
						<td bgcolor="#f6f7f8" align="center" style="padding:20px 0;font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;font-size:20px;line-height:32px;text-align:center;">
                            <a alias="alias111" href="https://www.pitchmyjob.com/mycv" title="Confirmer ses comp&eacute;tences" style="text-decoration:none;color:#4a494d;">
                                <span style="color:#06A5DF">{{ obj.user.name }}</span>, <br> Complète ton profil !
                            </a>
                        </td>
					</tr>

					<!-- choix 1 -->
					<tr>
						<td bgcolor="#ffffff" align="center" style="text-align: center;padding:30px 0">
							<table align="center" class="table310" cellspacing="0" width="500" cellpadding="0" border="0" style="border:0;margin:0 auto">
								<tr>
									<td>
										<table cellspacing="0" cellpadding="0" border="0" style="width:100%;">
											<tr>

											    <td style="padding:0 0 0 12px">
													
                                                Ton profil sur Pitch my Job n’est pas complet ce qui diminue <br> tes chances d’être contacté.
													<br><br>
												Pour vous rendre plus visible des recruteurs tu peux compléter <br> ton profil en 1 clic via LinkedIn et Viadeo.
													<br><br>

                                                L’équipe Pitchmyjob.com

												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>

					<tr>
						<td bgcolor="#ffffff" align="center" style="text-align: center;padding:0 0 30px">
							<table align="center" cellspacing="0" cellpadding="0" border="0" style="border:0;margin:0 auto">
								<tr>
									<td bgcolor="#06A5DF" style="padding:10px 25px;border-radius:35px;font-family:'open sans', Arial,'Helvetica Neue',Helvetica,sans-serif;font-size: 14px;"><a alias="alias125" href="https://www.pitchmyjob.com/mycv"  style="text-decoration:none;color:#ffffff;">Compléter mon profil</a></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#87868c" align="center" style="text-align: center;padding:15px 0">
							<table align="center" cellspacing="0" cellpadding="0" border="0" style="border:0;margin:0 auto">
								<tr>
									<td class="adPad2"><a alias="alias134" href="https://www.pitchmyjob.com/mycv" title="Ajouter des comp&eacute;tences" style="text-decoration:none;"><img src="https://email-pitchmyjob.s3-eu-west-1.amazonaws.com/images/03052016_sleeping_users_07.gif" alt="" style="display:block" border="0"></a></td>
									<td class="adPad3" align="left" style="font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;font-size:15px;text-align:left;font-weight:normal;padding-left:15px"><a alias="alias145" href="https://www.pitchmyjob.com/mycv" title="Ajouter des comp&eacute;tences" style="text-decoration:none;color:#ffffff;">+25% de visibilit&eacute; en plus en ajoutant des comp&eacute;tences &agrave; votre profil</a></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
{% endblock %}